In [2]:
import pandas as pd
import matplotlib.pylab as plt
import numpy as np

# Data loading and exploration

In [14]:
collar = pd.read_csv('data/collar_BABBITT.csv')
print(collar.shape)
collar.head()

(399, 4)

     BHID     XCOLLAR    YCOLLAR  ZCOLLAR
0   34873  2296021.09  414095.85   1590.0
1  B1-001  2294148.20  420495.90   1620.9
2  B1-002  2296769.50  422333.50   1553.0
3  B1-003  2297820.11  423647.40   1565.0
4  B1-004  2298789.91  424357.51   1544.0

In [9]:
### Check how many unique BHID in collar dataset
len(set(collar['BHID']))

399

In [15]:
survey = pd.read_csv('data/survey_BABBITT.csv')
print(survey.shape)
survey.head()

(2628, 4)

     BHID     AT   AZ   DIP
0   34873    0.0    0  90.0
1  B1-001    0.0  327  60.0
2  B1-002    0.0  327  60.0
3  B1-002  453.0  327  60.0
4  B1-003    0.0  327  45.0

In [10]:
len(set(survey['BHID']))

399

In [16]:
assay  = pd.read_csv('data/assay_BABBITT.csv')
print(assay.shape)
assay.head()

(35616, 7)

    BHID    FROM      TO    CU    NI   S  FE
0  34873     0.0  2515.0   NaN   NaN NaN NaN
1  34873  2515.0  2517.4  0.03  0.08 NaN NaN
2  34873  2517.4  2518.9  0.04  0.10 NaN NaN
3  34873  2518.9  2524.0  0.41  0.18 NaN NaN
4  34873  2524.0  2524.9  0.23  0.17 NaN NaN

In [11]:
len(set(assay['BHID']))

399

# Merge 3 dataset together using BHID as key
### Using assay as master table (because having the most records)
* Step 1: left join survey to assay table
* Step 2: left join collar table to the step 1 output
### left join function: https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.merge.html

In [ ]:
pd.merge(left_table, right_table, how='left', on=key)